[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"
pyhumps = "*"
alembic = "*"
pydantic = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
arq = "*"
uvloop = "*"
uvicorn = "*"
python-dotenv = "*"
bcrypt = "*"
factory-boy = "*"
kafka-python = "*"
aiokafka = "*"
cassandra-driver = "*"
auth-validator = {subdirectory = "auth-validator", editable = true, git = "https://github.com/CharlyJazz/Chat-Firebase-Apache-Camel.git/"}
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
aiosqlite = "*"
requests = "*"
httpx = "*"

[requires]
python_version = "3.9"

[scripts]
db-test="pytest app/tests/cassandra --disable-warnings -rP"
api-test="pytest app/tests/api --disable-warnings -rP"
server="uvicorn app.main:app --host 0.0.0.0 --port 9000 --reload"
