# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Firebase

aggregated-messages-consumer/service_account_key.json

# Java

.settings/org.eclipse.core.resources.prefs
.vscode

*/.pytest_cache

frontend-web/.env

.env

gha-creds-*.json

service_account_github_action.json

firestore_service_account.json

env.prod