[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"
pyhumps = "*"
alembic = "*"
pydantic = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
arq = "*"
uvloop = "*"
uvicorn = "*"
python-dotenv = "*"
bcrypt = "*"
factory-boy = "*"
auth-validator = {subdirectory = "auth-validator", editable = true, git = "https://github.com/CharlyJazz/Chat-Firebase-Apache-Camel.git/"}
pydantic-settings = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
httpx = "*"
asgi-lifespan = "*"
aiosqlite = "*"

[requires]
python_version = "3.9"
